[submodule "KOBUKY-ROS2-HUMBLE/kobuki_core"]
	path = kobuki_core
	url = https://github.com/KauaOliveira11/kobuki_core
[submodule "KOBUKY-ROS2-HUMBLE/kobuki_ros"]
	path = kobuki_ros
	url = https://github.com/KauaOliveira11/kobuki_ros
[submodule "KOBUKY-ROS2-HUMBLE/ecl_core"]
	path = ecl_core
	url = https://github.com/KauaOliveira11/ecl_core
[submodule "KOBUKY-ROS2-HUMBLE/ecl_lite"]
	path = ecl_lite
	url = https://github.com/KauaOliveira11/ecl_lite
[submodule "KOBUKY-ROS2-HUMBLE/cmd_vel_mux"]
	path = cmd_vel_mux
	url = https://github.com/KauaOliveira11/cmd_vel_mux
[submodule "KOBUKY-ROS2-HUMBLE/kobuki_ros_interfaces"]
	path = kobuki_ros_interfaces
	url = https://github.com/KauaOliveira11/kobuki_ros_interfaces